* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.small {
  font-size: 14px;
}

.modal-header {
  border: none !important;
  padding: 1rem 1rem 0 0 !important;
}

.modal-header > button {
  outline: 0;
}

.single-receipt {
  /* padding: 0 22%; */
  padding: 0 15%;
}
